;; This is an -*- lfe -*- config file.

#(project
  (#(meta
     (#(name balrog)
      #(description "A blog in a box.")
      #(version "0.0.1")
      #(keywords ("LFE" "Lisp" "Application" "Blog"))
      ;; #(maintainers ())
      #(repos (#(github "lfeninja/balrog")))))
   #(app
     (#(mod #(balrog.app ()))))))

#(logging
  (#(log-level info)
   #(backend lager)
   #(options (#(lager_console_backend info)))))
