{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{eunit_compile_opts, [
   {src_dirs, ["test","apps/balrog/src", "apps/balrog/include"]}
]}.
{plugins,
[{'lfe-compile'
 ,{git, "https://github.com/lfe-rebar3/compile", {tag, "0.4.0"}}}
,{rebar3_erlydtl_plugin
 ,{git, "https://github.com/tsloughter/rebar3_erlydtl_plugin", {branch, "master"}}}
,{rebar3_autotest, "0.1.1"}
,rebar3_auto
,rebar3_run]}.
{deps,
[{lfe,     {git, "git://github.com/rvirding/lfe",        {branch, "develop"}}}
,{clj,     {git, "git://github.com/lfex/clj",            {branch, "master"}}}
,{lutil,   {git, "git://github.com/lfex/lutil",          {branch, "master"}}}
,{ltest,   {git, "git://github.com/lfex/ltest",          {branch, "master"}}}
,{erlydtl, {git, "git://github.com/erlydtl/erlydtl",     {branch, "master"}}}
,{logjam,  {git, "git://github.com/lfex/logjam",         {branch, "master"}}}
,{scrypt,  {git, "git://github.com/tonyg/erlang-scrypt", {branch, "master"}}}
,{cowboy,  {git, "git://github.com/ninenines/cowboy",    {tag,    "1.0.4"}}}
]}.
{erlydtl_opts,
[{doc_root, "/priv/templates"}
,{compiler_options, []}
,{source_ext, ".html"}
,{module_ext, "_tpl"}
]}.
{relx,
[{release, {balrog, "0.0.1"},
  [balrog, lcfg, lfe, clj, lutil, {lager,load}, {logjam,load}]}
,{dev_mode, true}
,{include_erts, false}
,{extended_start_script, true}
]}.
{provider_hooks
, [{post, [{compile, {lfe, compile}}]}]}.

%% logjam hack...
{post_hooks,
 [{release, "rsync lfe.config \"$REBAR_BUILD_DIR/rel/balrog/\""}]}.

%% use pc plugin for scrypt instead of faulty compile post hook
{overrides, [
  {override, scrypt, [
    {post_hooks,     []},
    {artifacts,      ["priv/scrypt"]},
    {port_specs,     [{"priv/scrypt", ["priv/scrypt_port/*.c"]}]},
    {port_env,       [{"CFLAGS", "$CFLAGS "
                       "-O3 -fomit-frame-pointer -funroll-loops "
                       "-DHAVE_CONFIG_H "}]},
    {plugins,        [pc]},
    {provider_hooks, [{post, [{compile, {pc, compile}},
                              {clean,   {pc, clean}}]}]}
  ]},
  %% Terrible hack until Duncan fixes lcfg
  {override, lcfg, [
    {pre_hooks, [
      {compile,
       "rsync \"$REBAR_ROOT_DIR\"/priv/lcfg.app.src "
       "\"$REBAR_DEPS_DIR/lcfg/src/\""}
    ]}
  ]}
]}.
